.form .header, .form .header-slim {
    background-image: url(../images/header-background.png);
    background-repeat: none;
    padding-left: 10px;
    /*margin-left: -24px;*/
    padding-top: 15px;
    padding-bottom: 6px;
    width: 573px;
    /*margin-right: -10px;*/
}