.form .header, .form .header-slim {
    background-image: url(../images/header-background.png);
    background-repeat: none;
    padding-left: 10px;
    /*margin-left: -24px;*/
    padding-top: 15px;
    padding-bottom: 6px;
    width: 565px;
    /*margin-right: -10px;*/
}
#clouds {
    margin-bottom: -550px;
    position: relative;
}