.form .header, .form .header-slim {
    background-image: url(../images/header-background.png);
    padding-left: 10px;
    margin-left: -24px;
    padding-top: 15px;
    padding-bottom: 6px;
    margin-right: -10px;
}