%h1 Information for Duck No #{@duck.number}
.right
  %span.large-text.lightgrey Adoption Number
.clear
#raffle-number.no-top-margin
  = @adoption.adoption_number

= render 'shared/contact_info', :adoption => @adoption, :include_race_info => false