%tr
  %td= adoption.raffle_number
  %td= adoption.duck_count
  %td= number_to_currency adoption.fee/100
  %td
    /= link_to 'Edit', edit_admin_adoption_url(adoption)
    /|
    /= link_to 'Delete', admin_adoption_url(adoption), :method => :delete