= will_paginate adoptions
%table
  %tr
    %th Adoption Number
    %th Duck Count
    %th Fee    
    %th Actions
  = render :partial => 'adoption_row', :collection => adoptions, :as => :adoption

= will_paginate adoptions
