= render :partial => 'adoptions_table', :locals => { :adoptions => @adoptions }
%br/

%h2 Total ducks adopted: #{total_duck_count}
%br/
%h2 Total donations raised: #{number_to_currency dollar_fee(total_fee)}

%br/
%br/

- content_for :navlinks do
  .navlink= link_to "Admin Dashboard", admin_root_path
