= render :partial => 'adoptions/adoptions_table', :locals => { :adoptions => @adoptions }
%br/

%h2 Total ducks adopted: #{total_duck_count}
%br/
%h2 Total donations raised: #{number_to_currency total_fee}