%h1 Add a new price
= render 'form', :target => @pricing

- content_for :navlinks do
  .navlink= link_to "Admin Dashboard", admin_root_path
  .navlink= link_to "Back to All Pricings", admin_pricings_path