.footer
  #insert
    #ground &nbsp;

  #sponsors
    .sponsors-table
      = image_tag "oursponsors.png", :alt => "Our Sponsors"
      .sponsors-table-content
        = image_tag "etherpros.png", :id => "etherpros-logo", :alt => "Etherpros"
        = image_tag "heblogo.png", :id => "heb-logo", :alt => "HEB"
        .clear &nbsp;

