.footer
  #insert
    #ground &nbsp;

  #sponsors(style="background: #886937;")
    .sponsors-content(style="width: 750px; margin: auto; text-align: center; padding-top: 20px;")
      = image_tag "oursponsors.png", :alt => "Our Sponsors"
      %div(style="padding-top: 10px; padding-bottom: 20px;")
        = image_tag "etherpros.png", :id => "etherpros-logo", :alt => "Etherpros"
        = image_tag "heblogo.png", :id => "heb-logo", :alt => "HEB"
        .clear &nbsp;

