.footer
  #insert
    #ground &nbsp;
    
  #sponsors
    #c501
      501c 63-0655922 Group Exemption #5409
      
    -#
      .tier3
        = link_to 'http://rrsertoma.org/major-events/duck-race/duck-race-sponsors/', :target => "_blank" do
          = image_tag "allsponsors.png"

        = link_to 'http://rrsertoma.org/major-events/duck-race/duck-race-donors/', :target => "_blank" do
          = image_tag "alldonors.png"