#header
  :plain
      <img src="images/logo.png"  style="float: left;" align="ducktoma" />
      <img src="images/login.png" style="float: left; margin-left: 20px; margin-top: 12px;" align="login" />
      <img src="images/plane.png" style="float: right;" alt="Annual Duck Race" />