#paymentprocessing
  %h2.center
    Your payment is still being processed.
    %br/
    %br/
    You will be sent an email with details about your adoption once the payment has completed.
    %br/
    %br/
    Thank you for your patience.