/**  header **/
img#logo { float: left; }
img#login { float: left; margin-left: 20px; margin-top: 12px; }
img#plane { float: right; }

/** index page **/
img#adopt { width: 256px; height: 27px; }
img.number { width: 28px; height: 28px;}
.duck-form-image { width: 186px; height: 154px; }