/**  header **/
img#logo { float: left; margin-left: -48px; margin-top: -120px;}
img#login {  margin-left: 306px; }
img#logout { margin-left: 306px; }
img#plane {  margin-left: 10px; }

/** index page **/
img#adopt { width: 256px; height: 27px; }
img.number { width: 28px; height: 28px;}
/*.duck-form-image { width: 186px; height: 154px; }*/



/** sponsors **/
#bestbuy-logo { margin-left: -10px; }
#jman-logo { margin-left: -10px; }