%h2.center Down for maintenance.
%br/
%h2.center We're currently performing an upgrade on our servers. We apologize for the inconvenience.

-#
  %h2.center Thank you, for visiting the SERTOMA Rubber Duck Race adoption web site!
  %br/
  %h2.center Sales for this year are finished.
  %br/
  %h2.center Please, support us at next year's duck race for Dell Children's Hospital and Ronald McDonald House.

-# #comingsoon
-#   %h2.center
    All ducks have been exhausted this year!
    %br/
    %br/
