%h2.center Thank you, for visiting the SERTOMA Rubber Duck Race adoption web site!
%br/
%h2.center We are closed, now, for the 2011 season.
%br/
%h2.center We appreciate your support, and hope to see you again next year!

-# #comingsoon
-#   %h2.center
    All ducks have been exhausted this year!
    %br/
    %br/
