.title
  %img(src="images/adopt.png" alt="Adopt a Duck Now!" width="256" height="27")/
  %h1 Adopt a Duck Now!

.form
  .header
    %img.number(src="images/no1.gif" width="28" height="28")/
    Specify Number of Ducks ($50 x Duck)

  #duck-form
    #duck-form-image
      %img(src="images/duck.gif" width="186"  height="154")
    %input#duck-count-input(type="text")
    #duck-count ducks

  #duck-form-total
    Total: $0.00

#submit-duck-button.blue-button-disabled Continue