jQuery ->
  $('body').prepend('<div id="fb-root"></div>')
  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true

window.fb_publish = (u_name, org_name, u_id) ->

  description = "Your sponsorship of one or more ducks will not only help #{u_name} to raise funds for seriously and terminally 
                 ill children at Dell Children's Hospital. It will also help #{u_name} with their out-of-pocket costs related to 
                 their #{org_name} activities."
  FB.ui(
    method:      'stream.publish'
    name:        'Sponsor a duck for ' + org_name
    caption:      u_name + ' would like your support!'
    description:  description
    link:        '<%= Ducktoma::Application.config.fb["referer_url"] %>' + u_id
    picture:     'http://rrsertoma.heroku.com/images/fb-share-logo.png'

    , (response) ->
      if (response && response.post_id)
        alert "Post was published!"
      else
        alert "Post was not published."
  )

window.fbAsyncInit = ->  
  FB.init(appId: '<%= Ducktoma::Application.config.fb["facebook_app_id"] %>', cookie: true)
  $('.facebook-signin').click (e) ->
    e.preventDefault()
    FB.login (response) ->
      if response.authResponse
        window.location = '/club_members/auth/facebook/callback?' + $.param({ signed_request: response.authResponse.signedRequest })

  # No JS signout enabled at the moment.
  #$('#sign_out').click (e) ->
  #  FB.getLoginStatus (response) ->
  #    FB.logout() if response.authResponse
  #  true