%h1 Please choose the organization you belong to in order to continue:
<br /><br />
= simple_form_for @user do |f|
  = f.input :organization_id, as: :hidden
  = render Organization.members_permitted.order('name asc'), pick: true
