%h1.title You have successfully signed in!
= image_tag "stop.png", class: "stop-img"
%h3.center.approval We need approval from your Club Leader in order to allow you to use your account. Please contact your Club Leader and ask him to approve your account so you can get started!