%h1.title You have successfully signed in!
= image_tag "stop.png", class: "stop-img"
%h3.center.approval As soon as your Club Leader confirms your membership, you'll be able to log in and view your progress.