.club-member.contributor { margin-bottom: 60px; }
.club-member {
  @include clearfix;
  .organization { 
    float: right;
    img { max-width: 130px; max-height: 53px; }
    &.nofloat { 
      float: none; 
      margin-top: 25px;
    }    
  }

  .profile-image {
    float: left; 
    height: 100px;
    width: 100px;
  }

  .profile-details {
    margin-top: 15px;
    float: left;
    width: 494px;
    h3 {  margin-left: 15px; }
  }

  .profile-details-fluid {
    float: left;
    margin-left: 15px;
  }

  .donation-progress {
    clear: both;
    position: relative;
    z-index: 1;
    margin-top: 32px;
    height: 30px; 
    width: 100%;
    border: 1px solid #bababa;
    border-left-width: 0px;
    background: #f5f5f5;
    line-height: 30px;
    padding: 0px 15px;
    box-sizing: border-box;

    span.amount {
      font-family: $title-family;            
      color: #0d4864;
      text-shadow: 1px 1px #c5e0ed;
      padding-left: 15px;
      font-size: 18px;
    }

    span.description {
      float: right;
      display: inline-block;
      color: rgb(33, 82, 155);
      font-family: $title-family;
      font-weight: bold;
    }

    .bar {
      position: absolute;
      background-color: #7ab9d7;
      z-index: -1;
      left: 0;
      border-top: 1px solid #389aca;
      border-bottom: 1px solid #389aca;
      height: 28px;
      top: -1px;
    }
  }

}

h1.header.raised {

  background: url("raised-bg.png") repeat-x bottom;
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 22px;
  text-align: center;
  margin-left: -25px;
  margin-right: -25px;

  .amount {
    font-size: 24px;    
    color: #369fcf;
    text-shadow: 2px 2px #e0f6ff;    
  }

}

.club-member-small {
  @include clearfix;
  padding: 15px;
  h3 { 
    font-size: 20px;
    line-height: 95px; 
  }
  img {
    float: left;
    padding-right: 15px;
  }
  &:hover {
    background-color: #ebebeb;
    border-radius: 5px;
    cursor: pointer;
  }
}

h3.donations {
  text-align: center;
  margin: 30px;
}

.share-options {
  width: 525px;
  margin: auto;
  text-align: center;
  span.or { 
    padding: 0px 15px; 
    font-style: italic;
    font-weight:bold;
    color: #333;        
    vertical-align: middle;
  }
}

.facebook-share {
  width: 237px;
  height: 45px;
  font-size: 0;
  background: url('facebook-share.png') no-repeat;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  &:hover { background: url('facebook-share-over.png') no-repeat; }
}

.twitter-share {
  width: 237px;
  height: 45px;
  background: url('twitter-share.png') no-repeat;
  border: none;
  vertical-align: middle;
}

a.adopt-a-duck {  
  font-size: 16px;  
  font-family: $title-family;
  font-weight: normal;
  width: 237px;
  height: 45px;
  color: white;
  text-decoration: none;
  display: inline;
  padding: 11px 20px;

}

.not-found {
  text-align: center;
  font-size: 22px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  display: block;
  padding: 30px;
}

.or-no-associate {
  text-align: center;
  font-size: 22px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  display: block;
  padding: 10px; 
  font-style: italic;
}
.do-not-associate { width: auto; }

.stop-img {
  width: 273px;
  height: 274px;
  margin: 0 auto;
  display: block;
  padding: 15px;
}

.approval {
  line-height: 30px;
  font-size: 20px;
}

p.share-desc {
  margin-top: 45px;
  font-size: 18px;
  font-weight: 300;
  color: #333;
}

p.share-link {
  font-size: 18px;
  font-family: $title-family;
  color: #369fcf;
}