.organization
  .logo.left= image_tag organization.avatar if organization.avatar
  .description.left
    %h1= organization.name
    = organization.description || "No Description"
    <br />    
    - if pick    
      %button.pick-btn{:'data-id' => organization.id} Pick This Organization  
    