.organization
  .logo.left
    - if organization.avatar.blank?
      = image_tag "no_avatar.png"
    - else
      = image_tag organization.avatar
  .description.left
    %h1= organization.name
    = organization.description || "No Description"
    <br />    
    - if pick    
      %button.pick-btn{:'data-id' => organization.id} Pick This Organization  
    