%h1 Editing #{@user.email}
= render 'form', :user => @user
%br/
%br/

- content_for :navlinks do
  .navlink= link_to "Back to all users", admin_users_path
  .navlink= link_to "Admin Dashboard", admin_root_path
